{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}watchNext{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>

  <div class="content container container-fluid ">
    <div class="page-header">
      <h1><a href="/index"><img src="{% static '4.png' %}" alt="My image" style="width: 256px;"></a></h1>
  </div>
  <div class="row">
      <div class="col-md-8">
      {% block content %}
      {% endblock %}
      </div> 
  </div>
</div>


    
    
</body>

</html>
