{% extends 'main/base.html' %}
{% load static %}
{% block content%}
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;&display=swap');
        </style>
    <body style="color:black; font-family: 'Montserrat';">
        <div class="container-genre p-l-55 p-r-55 p-t-80 p-b-30" style="background-image: url({% static 'images/search.png' %});">
          <div class="wrap-genre" style="width: 70vw; padding: 3% 2%;">
            <div class="genre-div" style="text-align: center;">
                <span class="genre-div-title p-b-37" style="margin: 2.5% 2%;">
                   Showing Details for {{title}}
                </span>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12" style="float: left; text-align: center; margin-right: 5%;">
                    <img src={{picurl}} alt="image not found" style="width: 40%;"></img>
                    <br><span class="genre-div-title p-b-37" style="margin: 2.5% 2%;">
                        {{title}} <br> <span style="font-size: 1em;">{{year}}</span>
                     </span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" style="font-family: sans-serif; line-height: 2.5;">
                    <strong>Cast:</strong>
                    {% for i in cast %}
                    {{i}} |
                    {% endfor %}
                    <br>
                    <strong>Plot:</strong>
                    {{plot}}
                    <br>
                    <strong>Genres:</strong>
                    {% for i in genres %}
                    {{i}} |
                    {% endfor %}
                    <br>
                    <strong>Runtime:</strong> 
                    {% for i in runtimes %}
                    {{i}} minutes
                    {% endfor %}
                    <br>
                    <strong>Rating: </strong>
                    {{rating}}
                    <br>
                    <strong>Language: </strong>
                    {% for i in lang %}
                    {{i}} |
                    {% endfor %}
                    <br>
                </div>
                </div>

                
                
                
                
                <br>
            </div>
        </div>
    <hr>
    <br>
	<br>
            <div class="genre-div" style="width: 75vw;" >
              <span class="genre-div-title p-b-37" style="margin: 2.5% 2%; color: white;">
                As you like {{title}}, ranzol wants you to try
             </span>
                <div class="row" style="padding: 3% 3%;">
                  {% for i,j in Movies %}
                  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" style="text-align: center;">
                    <img src="{{j}}" class="card-img-top" alt="..." style="margin-top: 2%;">
                    <div class="card-body">
                      <a href="/detail/{{i}}"class="card-text">{{i}}</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <br>
            </div>

    </div>
    </body>
            
    
{% endblock %}