{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>watchNext</title>

    <!-- Including css -->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">

    <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/4cf62cb5b0.js" crossorigin="anonymous"></script>

    <!-- Including the bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;&display=swap" rel="stylesheet">


  </head>

  <body>

    <div class="title-container">

      <!--Navigation-->
      <nav class="navbar navbar-expand-sm sticky-top navbar-dark navigation" style="background-color: #262626; padding: 1% 2%; margin: 0 0;">

        <!--Brand-->
        <a class="navbar-brand" href="">
          <img src="{% static 'images/watchnext.png' %}" height="40vh" alt="" />
        </a>

        <!--Toggle-->

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--Nav-Links-->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Top Charts</a>
            </li>
          </ul>
        </div>
      </nav>


      <!-- Title Content -->
        <div class="row title-content" style="margin: 0 0;">
          <!--video autoplay muted loop id="myVideo">
            <source src="images/covervideo.mp4" type="video/mp4">
          </video-->
          <div class="overlay">
            <div class="col-lg-6 text-content" style="margin: 40vh 7.5% auto 7.5%; padding: 2% 2%;">
              <h1>Find what to watch next.</h1>
              <button type="button" class="btn btn-dark btn-lg downloadbtn" value="Login" onClick="location.href='/login';"><i class="fas fa-sign-in-alt"></i> Login </button>
              <button type="button" class="btn btn-light btn-lg downloadbtn" value="Register" onClick="location.href='/register';"><i class="fas fa-users"></i> Signup </button>
            </div>
            <p style="font-size: 12px;color: red;">{{msg}}</p> 
          </div>          
        </div>
    </div>


  
  <!-- Genre-->
    
    <div class="top-charts-container">
      <div class="row top-charts-bg">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 genre">
          <a href="topcharts/Action"><img src="images/genre1.jpg" class="genre-img overlay"></a>
          <div class="genre-title">Action</div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 genre">
          <a href="topcharts/Adventure"><img src="images/genre1.jpg" class="genre-img overlay"></a>
          <div class="genre-title">Adventure</div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 genre">
          <a href="topcharts/Biography"><img src="images/genre1.jpg" class="genre-img overlay"></a>
          <div class="genre-title">Biography</div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 genre">
          <a href="topcharts/Comedy"><img src="images/genre1.jpg" class="genre-img overlay"></a>
          <div class="genre-title">Comedy</div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 genre">
          <a href="topcharts/Crime"><img src="images/genre1.jpg" class="genre-img overlay"></a>
          <div class="genre-title">Crime</div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 genre">
          <a href="topcharts/Drama"><img src="images/genre1.jpg" class="genre-img overlay"></a>
          <div class="genre-title">Drama</div>
        </div>
      </div>
  
    

  </div>

  

  </body>
</html>
