{% extends 'main/base.html' %}
<style>
    h1{
        align-self: center;
        align-items: center;
        text-align: center;
    }
    .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
    }
</style>
{% block title %}
Home
{% endblock %}

{% block content %}
<h1>watchNext</h1>
<h3>Welcome {{uid}}!</h3>
<br>
<div class="btn-group">
    <button class="btn btn-dark px-5" style="background-color: #c5eaf6;" onclick="location.href = '/suggest';"  ><h4>Suggest me a movie</h4></button>
    <button class="btn btn-outline-dark px-5" onclick="location.href = '/search';"  ><h4>Get details of a movie</h4> </button>
</div>
<br>
    <hr>
    <a href="/logout">Logout</a>
    <br>
    
    <hr>
{% endblock %}