{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
<style>
    h1{
        align-self: center;
        align-items: center;
        text-align: center;
    }
</style>
{% block title %}
Login
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <input type="text" placeholder="Enter movie name" name="name" id="name"><br>
    <br><input type="submit">
</form>
<hr>
<br>
<h2>{{msg}}</h2>
	<ul style="list-style-type:none;">
        {% for i,j,k in Movies %}
            <br>
            <li>
                <a href="/suggestions/{{i}}"><img src={{k}} alt="image not found" ></img></a>
                <a href="/suggestions/{{i}}">    {{i}} ({{j}})</a>
            </li>
            <hr>
		{% endfor %}
    </ul>
    <br>
    <p>{{error}}</p>
{% endblock %}








