@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;&display=swap');


body {
  font-family: "Montserrat";
  text-align: center;
  margin: 0 0;
  padding: 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 800;
}

.title-container {
  height: 110vh;
}

a{
  font-family: "Montserrat", sans-serif;
  color: antiquewhite;
}

/* ------------------ Navigation ------------------ */

.navigation {
  box-shadow: 0px 1px 10px black;
  margin: 0 0;
}

.nav-link{
  color: #d1ccc0 !important;
  font-family: "Montserrat", sans-serif;
}

.nav-item{
  font-family: "Montserrat";
}

.nav-item :hover{
  color: #b33939 !important;
  font-family: "Montserrat", sans-serif;
}

.title-content {
  height: 100vh;
  background-image: url(../images/landing.png);
  background-size: cover;
  background-attachment: fixed;
}

.text-content {
  margin: 10vh 7.5% auto 7.5% !important;
  padding: 2% 2%;
  line-height: 1.5;
  color: white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4) !important;
  z-index: 1 !important;
  width: 100vw;
}

.downloadbtn {
  margin: 10% 3% 5% 0;
  font-family: "Montserrat", sans-serif;
}

.top-charts-container{
    padding: 2% 0%;
    margin: 2% 5%;
    width: 90%;
}

.top-charts-bg{
  background-image: linear-gradient(to bottom right,#2c2c54, #34ace0, #ff5252, #b33939);
}

.genre{
  margin: 0 0;
  padding: 0 0 !important;
}

.genre-img{
  width:100%;
  height: 30vh;
}

.genre:hover{
  opacity: 0.5;
}
/*@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-description .product-category {font-size: 15px;}
    .portfolio-box .portfolio-box-caption .portfolio-box-description .product-name {font-size: 19px;}
}*/
.genre-title a{
  text-decoration: none  !important;
  color: #ff5252;
}
a:hover{
  color: grey  !important;
}
.genre-title{
  position: absolute;
  top: 30%;
  width: inherit;
  text-align: center;
  font-size: 2rem;
  color: #ff5252;
}

/* -------------- FORM -----------*/

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}


.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

input[type=text]{
  width: 50%;
  padding: 1%;
  border-radius: 10px;
}